force-app/main/default/flows/Donation_on_Create_Update_Before_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Status_as_Draft</name>
        <label>Assign Status as Draft</label>
        <locationX>248</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Draft</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Name_and_Address</name>
        <label>Set Account Name and Address</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Accounts.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requestor_Manager_s_CWID_isBlank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approver_as_Approval_Configuration</name>
        <label>Set Approver as Approval Configuration</label>
        <locationX>50</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>$Record.CSE_Country_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Configuration.CSE_Country_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Business_Partner_Compliance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Configuration.Business_Partner_Compliance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_Head__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Configuration.BU_Head__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Head_PH_Med__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Configuration.Head_PH_Med__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBR_Bayer_Vital__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approval_Configuration.SBR_Bayer_Vital__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Manager_Name</name>
        <label>Set Manager Name</label>
        <locationX>50</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Approvers_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Manager_to_Null</name>
        <label>Set Manager to Null</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Manager__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Are_Approvers_changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Approvers_changed</name>
        <label>Are Approvers changed?</label>
        <locationX>182</locationX>
        <locationY>1427</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BU_Head__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configuration.BU_Head__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Business_Partner_Compliance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configuration.Business_Partner_Compliance__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSE_Country_Lead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configuration.CSE_Country_Lead__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Head_PH_Med__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configuration.Head_PH_Med__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBR_Bayer_Vital__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configuration.SBR_Bayer_Vital__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approver_as_Approval_Configuration</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Draft</name>
        <label>Is Status Draft?</label>
        <locationX>380</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Name_and_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requestor_Manager_s_CWID_isBlank</name>
        <label>Requestor Manager&apos;s CWID is Blank?</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>Set_Manager_to_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requestor__r.ManagerCWID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Users</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_is_Status</name>
        <label>What is Status?</label>
        <locationX>380</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_as_Draft</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <description>Update Account Name &amp; Address from corresponding Account, Manager based on Requestor field and Approvers from Approval Configurations.</description>
    <environments>Default</environments>
    <formulas>
        <name>Address</name>
        <dataType>String</dataType>
        <expression>{!Get_Accounts.BillingStreet}  &amp;BR() &amp; {!Get_Accounts.BillingPostalCode}   +&quot; &quot;+  {!Get_Accounts.BillingCity}   &amp; BR() &amp;{!Get_Accounts.BillingState}   +&quot; &quot;+ {!Get_Accounts.BillingCountry}</expression>
    </formulas>
    <interviewLabel>Donation on Create/Update Before Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation on Create/Update Before Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>380</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Configuration</name>
        <label>Get Approval Configuration</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approval_Configuration__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Manager_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requestor__r.ManagerCWID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Approval_Configuration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reject</stringValue>
            </value>
        </filters>
        <object>Donation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
