force-app/main/default/flows/GetImpactStudiesOccupationcode.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Collects studies from Impact with the specified user having a certain role.</description>
        <name>GetImpactStudyList</name>
        <label>Get Impact Study List</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <actionName>IMPACTv3.getPersonOccupation</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>DecisionImpactCallSuccessful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>activeStudy</name>
            <value>
                <stringValue>Y</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>occupationCode</name>
            <value>
                <elementReference>ImpactOccupationCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offset</name>
            <value>
                <elementReference>ImpactStudyListOffset</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>personIdentifier</name>
            <value>
                <elementReference>ImpactPersonIdentifier</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Adds the id to the id list and the entity to the entity list.</description>
        <name>AddEntriesLists</name>
        <label>Add Entries To Lists</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>UniqueIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopImpactStudies.studyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopImpactStudies</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopImpactStudies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns the variable from the output of the IMPACT call</description>
        <name>AssignImpactStudyList</name>
        <label>Assign Impact Study List</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ImpactStudyList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetImpactStudyList.200</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopImpactStudies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the impact study offset to the latest known study list end.</description>
        <name>SetImpactStudyOffset</name>
        <label>Set Impact Study Offset</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ImpactStudyListOffset</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImpactStudyList.z0end</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetImpactStudyList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set an outbound variable to false.</description>
        <name>SetSuccessFlagFalse</name>
        <label>Set Success Flag To False</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Successful</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImpactErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImpactErrorFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <description>Sorts all unique entities by study id.</description>
        <name>SortEntitiesStduy</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Entities by Study</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>EntityList</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>studyId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>bspProjId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>If the Impact call returned a 200 go on with the flow. Otherwise set error flag.</description>
        <name>DecisionImpactCallSuccessful</name>
        <label>Impact call successful?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>SetSuccessFlagFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Call failed</defaultConnectorLabel>
        <rules>
            <name>ImpactCallSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetImpactStudyList.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignImpactStudyList</targetReference>
            </connector>
            <label>Call successful</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the identifier is already present in the list of ids, do nothing. Otherwise add it to the list.</description>
        <name>DecisionListContainsUniqueIdentifier</name>
        <label>Does List Contain Unique Identifier</label>
        <locationX>358</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>AddEntriesLists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>List Does Not Contain Identifier</defaultConnectorLabel>
        <rules>
            <name>ListContainsIdentifier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueIDList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopImpactStudies.studyId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopImpactStudies</targetReference>
            </connector>
            <label>List contains identifier</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check wether Impact knows of more entries we have to fetch.</description>
        <name>DecisionMoreItemsFetch</name>
        <label>More Items To Fetch?</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>SortEntitiesStduy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Items Fetched</defaultConnectorLabel>
        <rules>
            <name>MoreItemsFetch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImpactStudyList.z0end</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>ImpactStudyList.total</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetImpactStudyOffset</targetReference>
            </connector>
            <label>More Items To Fetch</label>
        </rules>
    </decisions>
    <description>Gets all the Impact studies by occupation code.</description>
    <environments>Default</environments>
    <formulas>
        <description>Assigns the Impact Error Text to the a message</description>
        <name>ImpactErrorFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Failed to get data of impact studies &quot; + CASE({!GetImpactStudyList.responseCode},
400, {!GetImpactStudyList.400Exc.Error.errorMessage},
401, {!GetImpactStudyList.401Exc.Error.errorMessage},
403, {!GetImpactStudyList.403Exc.Error.errorMessage},
404, {!GetImpactStudyList.404Exc.Error.errorMessage},
415, {!GetImpactStudyList.415Exc.Error.errorMessage},
429, {!GetImpactStudyList.429Exc.Error.errorMessage},
500, {!GetImpactStudyList.500Exc.Error.errorMessage},
502, {!GetImpactStudyList.502Exc.Error.errorMessage},
503, {!GetImpactStudyList.503Exc.Error.errorMessage},
504, {!GetImpactStudyList.504Exc.Error.errorMessage},
{!GetImpactStudyList.defaultExc.Error.errorMessage})</expression>
    </formulas>
    <interviewLabel>Get Impact Studies by Occupationcode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Impact Studies by Occupationcode</label>
    <loops>
        <description>Loops through all Impact studies.</description>
        <name>LoopImpactStudies</name>
        <label>Loop Impact Studies</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>ImpactStudyList.studies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecisionListContainsUniqueIdentifier</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DecisionMoreItemsFetch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetImpactStudyList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The list of unique entities.</description>
        <name>EntityList</name>
        <apexClass>ExternalService__IMPACTv3_ShortStudy</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A human readable error message from IMPACT</description>
        <name>ImpactErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Unknown IMPACT error occured</stringValue>
        </value>
    </variables>
    <variables>
        <description>The code can either be &quot;CPM&quot; or &quot;RES&quot;. Anything else does not guarantee results. CPM will mean that the flow handles studies on a project level.</description>
        <name>ImpactOccupationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The identifier from IMPACT</description>
        <name>ImpactPersonIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The status code of the impact call used to determine success.</description>
        <name>ImpactStatusCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The list of studies from Impact</description>
        <name>ImpactStudyList</name>
        <apexClass>ExternalService__IMPACTv3_PersonStudyOccupation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The offset from which to retrieve more information</description>
        <name>ImpactStudyListOffset</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Was the flow successful.</description>
        <name>Successful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A list of unique entity Ids either Projects when occupation code is &quot;CPM&quot; otherwise studies.</description>
        <name>UniqueIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
