force-app/main/default/flows/GoalSetterCheckUserEditingRights.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>allowForAdmin</name>
        <label>Allow for Admin</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>allowForDeveloper</name>
        <label>allowForDeveloper</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCPMAllowed</name>
        <label>Set CPM Allowed</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCPMNotRepsonsible</name>
        <label>Set CPM Not Repsonsible</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not a Clinical Project Manager for this goal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetImpactError</name>
        <label>Set Impact Error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetImpactStudies.ImpactErrorText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRESAllowed</name>
        <label>Set RES Allowed</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRESNotRepsonsible</name>
        <label>Set RES Not Repsonsible</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllowedToEdit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not a Responsible Person for this goal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FailureMessage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking wether the Impact call was succesful and if the study list contains the study for the specified occupation code.</description>
        <name>DecisionAllowedEditGoal</name>
        <label>Allowed To Edit Goal</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>SetRESNotRepsonsible</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RES Not Responsible</defaultConnectorLabel>
        <rules>
            <name>ImpactError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetImpactStudies.Succesful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetImpactError</targetReference>
            </connector>
            <label>Impact Error</label>
        </rules>
        <rules>
            <name>isDeveloper</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WDIBC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EZTOY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GGKKA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gsuser</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>gsadmin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>allowForDeveloper</targetReference>
            </connector>
            <label>isDeveloper</label>
        </rules>
        <rules>
            <name>CPM</name>
            <conditionLogic>1 AND ((2 AND 3) OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>RecordToCheck.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clinical_team_goal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordToCheck.GsStudyNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetImpactStudies.UniqueProjectIDList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RecordToCheck.GsProject__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetImpactStudies.UniqueStudyProjectIdList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RecordToCheck.GsStudyNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCPMAllowed</targetReference>
            </connector>
            <label>CPM</label>
        </rules>
        <rules>
            <name>CPMNotResponsible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordToCheck.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>clinical_team_goal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCPMNotRepsonsible</targetReference>
            </connector>
            <label>CPM Not Responsible</label>
        </rules>
        <rules>
            <name>RES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetImpactStudies.UniqueStudyIDList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RecordToCheck.GsStudyNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRESAllowed</targetReference>
            </connector>
            <label>RES</label>
        </rules>
    </decisions>
    <decisions>
        <name>FailureMessage</name>
        <label>Failure Message</label>
        <locationX>512</locationX>
        <locationY>830</locationY>
        <defaultConnectorLabel>Allowed to edit</defaultConnectorLabel>
        <rules>
            <name>NotAllowedEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GoalEditNotAllowed</targetReference>
            </connector>
            <label>Not allowed to edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAdmin</name>
        <label>Is Admin</label>
        <locationX>512</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetImpactStudies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Admin</defaultConnectorLabel>
        <rules>
            <name>admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.GsGoalSetterAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>allowForAdmin</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <description>This is a subflow, which shows a screen if you are not allowed to edit a goal.</description>
    <environments>Default</environments>
    <interviewLabel>GoalSetter: Check User Editing rights {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Check User Editing rights</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>GoalEditNotAllowed</name>
        <label>Goal Edit not allowed</label>
        <locationX>380</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;We are very sorry, but you are not allowed to edit this goal.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Reason: &lt;/strong&gt;{!Error}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isAdmin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetImpactStudies</name>
        <label>Get Impact Studies</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>DecisionAllowedEditGoal</targetReference>
        </connector>
        <flowName>GoalSetter_Get_Impact_Studies</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllowedToEdit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordToCheck</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
</Flow>
