force-app/main/default/flows/GoalsetterEditGoal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Set dates for externally handled goals</description>
        <name>GsSetDatesExternal</name>
        <label>Set Dates External</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsTargetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSetTargetMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckForExistingGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set all dates for internal goals</description>
        <name>GsSetDatesInternal</name>
        <label>Set Dates Internal</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetTargetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetMonthCustomPicklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckForExistingGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy the title value from the input screen to the goal title field</description>
        <name>GsSetManualTitle</name>
        <label>Set Manual Title</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsGoalTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsIsInternalOrExternalGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGoalPercentValue</name>
        <label>Set Goal Percent Value</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteGoalPercentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsIsInternalOrExternalGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSelectedRecord</name>
        <label>Set Selected Record</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckEditingRights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateGoalVariable</name>
        <label>Update Goal variable</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsApprovedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedByPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsAchievedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsGetSelectedAchievedDateEditFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusCustomPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecifyYourGoalValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsStandardGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEditStandardGoalPicklist.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsKeyGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFlagIPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsCroGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFlagCRO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsLabcorpIncentiveGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFlagLabcorp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsFinalCosmosDelivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forFlagFinalCOSMOS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CommentsLongText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoalManuallyEntered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateStatus</name>
        <label>Update Status</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsAchievedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsGetSelectedAchievedDateNoEditFlow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsStatusCustomPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsKeyGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScreenStatusIPT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsCroGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScreenStatusCRO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsLabcorpIncentiveGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScreenStatusLabcorp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsFinalCosmosDelivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forScreenStatusFinalCOSMOS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsComments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenStatusCommentsLongText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateGoalRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionIsUserAllowedEdit</name>
        <label>Is user allowed to edit?</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>User is not allowed</defaultConnectorLabel>
        <rules>
            <name>UserAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckEditingRights.AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsGetRecordTypeIds</targetReference>
            </connector>
            <label>User is allowed</label>
        </rules>
    </decisions>
    <decisions>
        <description>A Goal can be Edited if it&apos;s not Locked or not Marked as Final. If it&apos;s no longer editable then you can just modify flags and status</description>
        <name>Edit_Allowed</name>
        <label>Edit Allowed</label>
        <locationX>380</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>EditFlagsAndStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Edit Flags and Status</defaultConnectorLabel>
        <rules>
            <name>Edit_All_Fields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.GsFinal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EditGoalRecord</targetReference>
            </connector>
            <label>Edit All Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>GoalManuallyEntered</name>
        <label>Goal Manually Entered</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>SetGoalPercentValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Goal</defaultConnectorLabel>
        <rules>
            <name>YesManuallyEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.GsStandardGoal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-- enter goal manually --</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsSetManualTitle</targetReference>
            </connector>
            <label>Custom Goal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a goal was found with same key attributes</description>
        <name>GsCheckIfGoalExists</name>
        <label>Check If Goal Exists</label>
        <locationX>182</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>GsGoalDoesAlreadyExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>GsDoesntExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GsCheckForExistingGoal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateGoalRecord</targetReference>
            </connector>
            <label>Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the goal is handled internally or externally (LabCorp_Goal)</description>
        <name>GsIsInternalOrExternalGoal</name>
        <label>Is Internal Or External Goal</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>GsSetDatesInternal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal</defaultConnectorLabel>
        <rules>
            <name>GsExternal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GsVarParexelRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsSetDatesExternal</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <description>Comments changed to component in Screen elements</description>
    <dynamicChoiceSets>
        <name>ApprovedByPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsApprovedBy__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>These are all periods a goal can be added to.</description>
        <name>GoalPeriodChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>EditPeriodStart__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EditPeriodEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>GsGoalPeriod__c</object>
        <outputAssignments>
            <assignToReference>varGoalRecord.GsGoalPeriod__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GoalRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GsGoal__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varGoalRecord.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsStatus__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetMonthChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsTargetMonth__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forFlagCRO</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagCROGoal},True , False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forFlagFinalCOSMOS</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagFinalCOSMOSdelivery}, True, False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forFlagIPT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagIPTKeyGoal}, True, False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forFlagLabcorp</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagLabcorpIncentiveGoal}, True, False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forScreenStatusCRO</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagScreenStatusCROGoal},True , False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forScreenStatusFinalCOSMOS</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagScreenStatusFinalCOSMOSdelivery},True , False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forScreenStatusIPT</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagScreenStatusIPTKeyGoal},True , False)</expression>
    </formulas>
    <formulas>
        <description>Workaround to bypass Update Records reading Null instead of False when a checkbox is not visible
https://issues.salesforce.com/issue/a028c00000gAyWvAAK/flow-using-conditional-component-visibility-doesnt-work-properly</description>
        <name>forScreenStatusLabcorp</name>
        <dataType>Boolean</dataType>
        <expression>IF({!FlagScreenStatusLabcorpIncentiveGoal},True , False)</expression>
    </formulas>
    <formulas>
        <name>GetMonthNumber</name>
        <dataType>Number</dataType>
        <expression>CASE({!TargetMonthCustomPicklist},
&quot;January&quot;,1,&quot;February&quot;,2,&quot;March&quot;,3,&quot;April&quot;,4,&quot;May&quot;,5,&quot;June&quot;,6,&quot;July&quot;,7,&quot;August&quot;,8,&quot;September&quot;,9,&quot;October&quot;,10,&quot;November&quot;,11,&quot;December&quot;,12,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Returns the selected achieved date or null if the status is != achieved</description>
        <name>GsGetSelectedAchievedDateEditFlow</name>
        <dataType>Date</dataType>
        <expression>IF({!StatusCustomPicklist} = &quot;Achieved&quot;, {!AchievedDate}, null)</expression>
    </formulas>
    <formulas>
        <description>Return the selected achieved date or null in case status is != achieved</description>
        <name>GsGetSelectedAchievedDateNoEditFlow</name>
        <dataType>Date</dataType>
        <expression>IF({!GsStatusCustomPicklist} = &quot;Achieved&quot;, {!GsAchievedDate}, null)</expression>
    </formulas>
    <formulas>
        <description>Set the target month based on the selected target date</description>
        <name>GsSetTargetMonth</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!GsTargetDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;Invalid Date&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsEditPhaseClosed</name>
        <dataType>Boolean</dataType>
        <expression>{!varGoalRecord.GsGoalPeriod__r.Locked__c} = TRUE</expression>
    </formulas>
    <formulas>
        <name>IsValidPercentValue</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SpecifyYourGoalValue}&gt;=0,{!SpecifyYourGoalValue}&lt;=100)</expression>
    </formulas>
    <formulas>
        <name>ProgramSampleValue</name>
        <dataType>String</dataType>
        <expression>&quot;BAY&quot;&amp;SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProjectSampleValue</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;))+2345)</expression>
    </formulas>
    <formulas>
        <name>SetTargetDate</name>
        <dataType>Date</dataType>
        <expression>IF(
  MONTH( DATE(VALUE({!varGoalRecord.GsGoalPeriod__r.Name}),{!GetMonthNumber},1)) = 12,
  DATE( YEAR( DATE(VALUE({!varGoalRecord.GsGoalPeriod__r.Name}),{!GetMonthNumber},1)), 12, 31 ),
  DATE( YEAR( DATE(VALUE({!varGoalRecord.GsGoalPeriod__r.Name}),{!GetMonthNumber},1)), MONTH ( DATE(VALUE({!varGoalRecord.GsGoalPeriod__r.Name}),{!GetMonthNumber},1)) + 1, 1 ) - 1 
)</expression>
    </formulas>
    <formulas>
        <name>StudySampleValue</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;))+6758)</expression>
    </formulas>
    <formulas>
        <name>SubstituteGoalPercentValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!varGoalRecord.GsStandardGoal__c}), &quot;[value]&quot;, TEXT({!SpecifyYourGoalValue}))</expression>
    </formulas>
    <interviewLabel>GoalsetterEditGoal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Edit Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Check if another goal already exists with the same values after the edit.</description>
        <name>GsCheckForExistingGoal</name>
        <label>Check For Existing Goal</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GsCheckIfGoalExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GsGoalTitle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsGoalPeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsGoalPeriod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsStudyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsStudyNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsProject__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsProgram__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varGoalRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectedRecord</name>
        <label>SelectedRecord</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSelectedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateGoalRecord</name>
        <label>Update Goal Record</label>
        <locationX>380</locationX>
        <locationY>2402</locationY>
        <inputReference>varGoalRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>EditFlagsAndStatus</name>
        <label>Edit Flags And Status</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateStatus</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NewFormHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 26px;&quot;&gt;Edit {!varGoalRecord.RecordType.Name} for &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 26px;&quot;&gt;{!varGoalRecord.GsGoalPeriod__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GsDisplayGoalTitle</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!varGoalRecord.GsGoalTitle__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_editGoalInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Program &lt;/strong&gt;{!varGoalRecord.GsProgram__c}, &lt;strong&gt;Project &lt;/strong&gt;{!varGoalRecord.GsProject__c}, &lt;strong&gt;Study&lt;/strong&gt; {!varGoalRecord.GsStudyNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayEditInfo</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(66, 139, 202);&quot;&gt;ℹ️ After the goal is locked, only flags and status can be modified.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GsGoalDataSectionLimitedEdit</name>
            <fieldText>Goal flags and status</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GsGoalDataSectionLimitedEdit_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FlagScreenStatusIPTKeyGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsKeyGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>IPT Key Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarCroRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagScreenStatusCROGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsCroGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>CRO Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.GsSharePointId__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagScreenStatusLabcorpIncentiveGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsLabcorpIncentiveGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>Labcorp Incentive Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.GsSharePointMigrated__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagScreenStatusFinalCOSMOSdelivery</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsFinalCosmosDelivery__c</elementReference>
                    </defaultValue>
                    <fieldText>Final COSMOS delivery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarParexelRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GsGoalDataSectionLimitedEdit_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GsStatusCustomPicklist</name>
                    <choiceReferences>StatusPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsStatus__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GsAchievedDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsAchievedDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Achieved Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GsStatusCustomPicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Achieved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Copy_1_of_Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Comments_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenStatusCommentsLongText</name>
                    <defaultValue>
                        <stringValue>{!varGoalRecord.GsComments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Comments_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EditGoalRecord</name>
        <label>Edit Goal Record</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateGoalVariable</targetReference>
        </connector>
        <fields>
            <name>NewFormHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 26px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Edit {!varGoalRecord.RecordType.Name} for &lt;/span&gt;&lt;span style=&quot;font-size: 26px; color: rgb(0, 0, 0);&quot;&gt;{!varGoalRecord.GsGoalPeriod__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GsDisplayGoalTitla</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!varGoalRecord.GsGoalTitle__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>editGoalInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Program &lt;/strong&gt;{!varGoalRecord.GsProgram__c}, &lt;strong&gt;Project &lt;/strong&gt;{!varGoalRecord.GsProject__c}, &lt;strong&gt;Study&lt;/strong&gt; {!varGoalRecord.GsStudyNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GsGoalData</name>
            <fieldText>Goal data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GsGoalData_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenEditStandardGoalPicklist</name>
                    <extensionName>c:picklistValuesByRecordType</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GsStandardGoal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objApiName</name>
                        <value>
                            <stringValue>GsGoal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recTypeId</name>
                        <value>
                            <elementReference>varGoalRecord.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Standard Goal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varGoalRecord.GsStandardGoal__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GsGoalTitle</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
                    </defaultValue>
                    <fieldText>Goal Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenEditStandardGoalPicklist.selectedValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>-- enter goal manually --</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SpecifyYourGoalValue</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsGoalValue__c</elementReference>
                    </defaultValue>
                    <fieldText>Specify your goal value (0-100)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The value must be between 0 and 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsValidPercentValue}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenEditStandardGoalPicklist.selectedValue</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>[value]</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagIPTKeyGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsKeyGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>IPT Key Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarCroRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagCROGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsCroGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>CRO Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.GsSharePointId__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagLabcorpIncentiveGoal</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsLabcorpIncentiveGoal__c</elementReference>
                    </defaultValue>
                    <fieldText>Labcorp Incentive Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.GsSharePointMigrated__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FlagFinalCOSMOSdelivery</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsFinalCosmosDelivery__c</elementReference>
                    </defaultValue>
                    <fieldText>Final COSMOS delivery</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarParexelRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GsGoalData_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TargetMonthCustomPicklist</name>
                    <choiceReferences>TargetMonthChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsTargetMonth__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarCroRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GsTargetDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsTargetDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarParexelRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>StatusCustomPicklist</name>
                    <choiceReferences>StatusPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsStatus__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AchievedDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsAchievedDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Achieved Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>StatusCustomPicklist</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Achieved</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ApprovedByPicklist</name>
                    <choiceReferences>ApprovedByPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ApprovedByPicklist</elementReference>
                    </defaultValue>
                    <fieldText>Approved By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>IsEditPhaseClosed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Comments_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommentsLongText</name>
                    <defaultValue>
                        <stringValue>{!varGoalRecord.GsComments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Comments_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to be shown if a goal with same key attributes already exists</description>
        <name>GsGoalDoesAlreadyExist</name>
        <label>Goal Does Already Exist</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EditGoalRecord</targetReference>
        </connector>
        <fields>
            <name>alreadyExistsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A goal with the same title already exists for the selected program, project and study in this period.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectedRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks the rights to edit in IMPACT</description>
        <name>CheckEditingRights</name>
        <label>Check Editing Rights</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>DecisionIsUserAllowedEdit</targetReference>
        </connector>
        <flowName>GoalSetterCheckUserEditingRights</flowName>
        <inputAssignments>
            <name>RecordToCheck</name>
            <value>
                <elementReference>varGoalRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GsGetRecordTypeIds</name>
        <label>Get RecordType IDs</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Edit_Allowed</targetReference>
        </connector>
        <flowName>GsGoalSetterInitRecordTypeGoals</flowName>
        <outputAssignments>
            <assignToReference>GsVarClinicalTeamGoalRecordTypeId</assignToReference>
            <name>GsVarClinicalTeamGoalRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarCroRecordTypeId</assignToReference>
            <name>GsVarCroRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarLabCorpRecordTypeId</assignToReference>
            <name>GsVarLabCorpRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarParexelRecordTypeId</assignToReference>
            <name>GsVarParexelRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarStudyTeamRecordTypeId</assignToReference>
            <name>GsVarStudyTeamGoalRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>GsVarClinicalTeamGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarCroRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarLabCorpRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarParexelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarStudyTeamRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flow to create a new Goal record</description>
        <name>varGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
</Flow>
