force-app/main/default/flows/GoalSetter_Get_Impact_Studies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets the Impact person list filtered by cwid havin only one entry.</description>
        <name>GetImpactPersonList</name>
        <label>Get Impact Person List</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <actionName>IMPACTv3.getPersons</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Person_ID_API_Call_succesful</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>limit</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>CWID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Adds the current entry to the unique list</description>
        <name>AddProjectUniqueList</name>
        <label>Add Project To Unique List</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>UniqueProjectIDList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopProjectList.bspProjId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UniqueProjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopProjectList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProjectList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set sthe IMPACT error Message if the call for persons already failed.</description>
        <name>AssignImpactErrorMessage</name>
        <label>Assign Impact Error Message</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ImpactErrorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImpactErrorFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetStatusFailed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Loads the variable from the response.</description>
        <name>AssignIMPACTPersonnelList</name>
        <label>Assign IMPACT Personnel List</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ImpactPersonList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetImpactPersonList.200</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pick_First_Person_From_Impact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>We have to set the succes to true because IMPACT does not rely on proper error handling and gives us back a 400 if there is no error. So we have treat every error as a success :(</description>
        <name>OverwriteSuccessVariable</name>
        <label>Overwrite Success Variable</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Succesful</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Setting the IMPACT internal ID of the person requested by the CWID.</description>
        <name>SetImpactPersonID</name>
        <label>Set IMPACT Person ID</label>
        <locationX>270</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ImpactPersonID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_First_Person_From_Impact_List.identifier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pick_First_Person_From_Impact_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>A final action which sets the outcome to fail for this flow.</description>
        <name>SetStatusFailed</name>
        <label>Set Status to failed</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Succesful</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <description>Sorting the unique project list</description>
        <name>SortUniqueProjectList</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Unique Project List</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>UniqueProjectList</collectionReference>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>bspProjId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Handle Error in RES call?</description>
        <name>CPMStudiesCallSuccessful</name>
        <label>CPM Studies Call Successful?</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>OverwriteSuccessVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPM Call failed</defaultConnectorLabel>
        <rules>
            <name>CPMCallSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Succesful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopProjectList</targetReference>
            </connector>
            <label>CPM Call successful</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the id already is in the list do nothiung. Otherwise add it.</description>
        <name>DecisionProjectIdPresent</name>
        <label>Project Id already present?</label>
        <locationX>226</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>AddProjectUniqueList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Project Id not present</defaultConnectorLabel>
        <rules>
            <name>ProjectIdPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UniqueProjectIDList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopProjectList.bspProjId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopProjectList</targetReference>
            </connector>
            <label>Project Id already present</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decides wether the API call to IMPACT was succesful</description>
        <name>Person_ID_API_Call_succesful</name>
        <label>Person ID API Call succesful?</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>AssignImpactErrorMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Person ID Call failed</defaultConnectorLabel>
        <rules>
            <name>Person_ID_Call_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetImpactPersonList.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignIMPACTPersonnelList</targetReference>
            </connector>
            <label>Person ID Call Successful</label>
        </rules>
    </decisions>
    <description>Gets all studies from IMPACT for a cretain role and user.</description>
    <environments>Default</environments>
    <formulas>
        <description>The CWID of the person. If it is one of the developers we replace it.</description>
        <name>CWID</name>
        <dataType>String</dataType>
        <expression>IF({!$User.Alias} = &quot;GGKKA&quot;, &quot;EZLZS&quot;, IF({!$User.Alias} = &quot;WDIBC&quot;, &quot;PHBUN&quot;, IF({!$User.Alias} = &quot;EZTOY&quot;, &quot;PHBUN&quot;, {!$User.Alias})))</expression>
    </formulas>
    <formulas>
        <description>Obtains the Impact error Message from the call</description>
        <name>ImpactErrorFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Failed to get data about this user  &quot; + CASE({!GetImpactPersonList.responseCode},
400, {!GetImpactPersonList.400Exc.Error.errorMessage},
401, {!GetImpactPersonList.401Exc.Error.errorMessage},
403, {!GetImpactPersonList.403Exc.Error.errorMessage},
404, {!GetImpactPersonList.404Exc.Error.errorMessage},
415, {!GetImpactPersonList.415Exc.Error.errorMessage},
429, {!GetImpactPersonList.429Exc.Error.errorMessage},
500, {!GetImpactPersonList.500Exc.Error.errorMessage},
502, {!GetImpactPersonList.502Exc.Error.errorMessage},
503, {!GetImpactPersonList.503Exc.Error.errorMessage},
504, {!GetImpactPersonList.504Exc.Error.errorMessage},
{!GetImpactPersonList.defaultExc.Error.errorMessage})</expression>
    </formulas>
    <interviewLabel>GoalSetter: Get Impact Studies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Get Impact Studies</label>
    <loops>
        <description>A loop to additionally find only unique projects.</description>
        <name>LoopProjectList</name>
        <label>Loop Project List</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <collectionReference>ProjectList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecisionProjectIdPresent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SortUniqueProjectList</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This picks ther first person from the Impact API call and saves the id</description>
        <name>Pick_First_Person_From_Impact_List</name>
        <label>Pick First Person From Impact List</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <collectionReference>ImpactPersonList.personnel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetImpactPersonID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetRESStudies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetImpactPersonList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>GetCPMStudies</name>
        <label>Get CPM Studies</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>CPMStudiesCallSuccessful</targetReference>
        </connector>
        <flowName>GetImpactStudiesOccupationcode</flowName>
        <inputAssignments>
            <name>ImpactOccupationCode</name>
            <value>
                <stringValue>CPM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImpactPersonIdentifier</name>
            <value>
                <elementReference>ImpactPersonID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ProjectList</assignToReference>
            <name>EntityList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImpactErrorText</assignToReference>
            <name>ImpactErrorText</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Succesful</assignToReference>
            <name>Successful</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UniqueStudyProjectIdList</assignToReference>
            <name>UniqueIDList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GetRESStudies</name>
        <label>Get RES Studies</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>GetCPMStudies</targetReference>
        </connector>
        <flowName>GetImpactStudiesOccupationcode</flowName>
        <inputAssignments>
            <name>ImpactOccupationCode</name>
            <value>
                <stringValue>RES</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ImpactPersonIdentifier</name>
            <value>
                <elementReference>ImpactPersonID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>StudyList</assignToReference>
            <name>EntityList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ImpactErrorText</assignToReference>
            <name>ImpactErrorText</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Succesful</assignToReference>
            <name>Successful</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UniqueStudyIDList</assignToReference>
            <name>UniqueIDList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>A human readable text of the IMPACT error.</description>
        <name>ImpactErrorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>An unknwon IMPACT error occured</stringValue>
        </value>
    </variables>
    <variables>
        <description>The IMPACT internal ID of the person this flow as requested for.</description>
        <name>ImpactPersonID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The list of persons in Impact</description>
        <name>ImpactPersonList</name>
        <apexClass>ExternalService__IMPACTv3_Persons</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The response code from Impact.</description>
        <name>ImpactResponseCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>A list of unqiue projects</description>
        <name>ProjectList</name>
        <apexClass>ExternalService__IMPACTv3_ShortStudy</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The list of unique studies, which can be used as picklist.</description>
        <name>StudyList</name>
        <apexClass>ExternalService__IMPACTv3_ShortStudy</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A boolean, which is true, when there is a result of this process and false if it is failed.</description>
        <name>Succesful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A list of unique impacts project ids.</description>
        <name>UniqueProjectIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A list of unique project Ids</description>
        <name>UniqueProjectList</name>
        <apexClass>ExternalService__IMPACTv3_ShortStudy</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UniqueStudyIDList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UniqueStudyProjectIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
