force-app/main/default/flows/GoalSetterWithdrawGoal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign the loaded goal record to a variable</description>
        <name>GsSetSelectedRecord</name>
        <label>Set Selected Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSelectedRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckEditingRights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetWithdrawnComment</name>
        <label>SetWithdrawnComment</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsWithdrawnComment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Withdrawn_Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsWithdrawn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateGoalRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GsIsUserAllowedToEdit</name>
        <label>Is User Allowed To Edit</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>User is not allowed</defaultConnectorLabel>
        <rules>
            <name>GsUserIsAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GsCheckEditingRights.AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateConfirmation</targetReference>
            </connector>
            <label>User Is Allowed</label>
        </rules>
    </decisions>
    <description>This flow withdraws a goal. It&apos;s running in System Context with Sharing so that users and admins can edit goals with having permission to edit goals.

Latest Change: Added permission check</description>
    <environments>Default</environments>
    <interviewLabel>GoalSetter: Withdr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Withdraw Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get the goal record for the given ID</description>
        <name>GsSelectedRecords</name>
        <label>SelectedRecords</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GsSetSelectedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateGoalRecord</name>
        <label>Update Goal Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>varGoalRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>UpdateConfirmation</name>
        <label>Update Confirmation</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SetWithdrawnComment</targetReference>
        </connector>
        <fields>
            <name>WithdrawMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(169, 32, 32);&quot;&gt;Please add a comment to explain, why this goal is being withdrawn&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Withdrawn_Comment</name>
            <fieldText>Withdrawn Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Withdraw Goal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GsSelectedRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check if user is allowed to withdraw</description>
        <name>GsCheckEditingRights</name>
        <label>Check Editing Rights</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>GsIsUserAllowedToEdit</targetReference>
        </connector>
        <flowName>GoalSetterCheckUserEditingRights</flowName>
        <inputAssignments>
            <name>RecordToCheck</name>
            <value>
                <elementReference>varGoalRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
</Flow>
