force-app/main/default/flows/GoalSetter_Revise_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>GsLogAllPreviousValues</name>
        <label>Log All Previous Values</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateLogAllPreviousValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRevised</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Each variable is modified by the operator and value combination.</description>
        <name>GsSetDatesExternal</name>
        <label>Set Dates External</label>
        <locationX>710</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsTargetDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSetTargetMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckForExistingGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set all dates for internal goals</description>
        <name>GsSetDatesInternal</name>
        <label>Set Dates Internal</label>
        <locationX>974</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetMonth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TargetMonthCustomPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsTargetDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetTargetDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckForExistingGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Each variable is modified by the operator and value combination.</description>
        <name>GsSetManualTitle</name>
        <label>Set Manual Title</label>
        <locationX>710</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsGoalTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsIsInternalOrExternalGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetGoalPercentValue</name>
        <label>Set Goal Percent Value</label>
        <locationX>974</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalTitle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubstituteGoalPercentValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsIsInternalOrExternalGoal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetRevised</name>
        <label>Set Revised</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsRevised__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateGoalRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetSelectedRecord</name>
        <label>Set Selected Record</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckEditingRights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StorePreviousValues</name>
        <label>Store Previous Values</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varGoalTitlePreviousValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTargetDatePreviousValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGoalRecord.GsTargetDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTargetPreviousValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGoalRecord.GsTargetFormula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EditGoalRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrackGoalTitle</name>
        <label>Track Goal Title</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateLogGoalTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRevised</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>TrackTarget</name>
        <label>Track Target</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsHistory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TemplateLogTargetValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRevised</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateGoalVariable</name>
        <label>Update Goal variable</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsApprovedBy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApprovedByPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsGoalValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SpecifyYourGoalValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsStandardGoal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEditStandardGoalPicklist.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GoalManuallyEntered</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AnyValueHasBeenModified</name>
        <label>Any Value Has Been Modified?</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <defaultConnectorLabel>Not Modified</defaultConnectorLabel>
        <rules>
            <name>ModifiedValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ValuesHaveBeenModified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrackFieldChanges</targetReference>
            </connector>
            <label>Modified Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionIsUserAllowedEdit</name>
        <label>Is user allowed to edit?</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>User is not allowed</defaultConnectorLabel>
        <rules>
            <name>UserAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckEditingRights.AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsLoadRecordTypeIds</targetReference>
            </connector>
            <label>User is allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>GoalManuallyEntered</name>
        <label>Goal Manually Entered</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>SetGoalPercentValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standard Goal</defaultConnectorLabel>
        <rules>
            <name>YesManuallyEntered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.GsStandardGoal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>-- enter goal manually --</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsSetManualTitle</targetReference>
            </connector>
            <label>Custom Goal</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a goal was found with same key attributes</description>
        <name>GsCheckIfGoalExists</name>
        <label>Check If Goal Exists</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>GsGoalDoesAlreadyExist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Does Exist</defaultConnectorLabel>
        <rules>
            <name>GsDoesntExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GsCheckForExistingGoal</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnyValueHasBeenModified</targetReference>
            </connector>
            <label>Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine if the goal is handled internally or externally (LabCorp_Goal, Parexel)</description>
        <name>GsIsInternalOrExternalGoal</name>
        <label>Is Internal Or External Goal</label>
        <locationX>842</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <targetReference>GsSetDatesInternal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal</defaultConnectorLabel>
        <rules>
            <name>GsExternal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GsVarLabCorpGoalRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GsVarParexelRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsSetDatesExternal</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <name>TrackFieldChanges</name>
        <label>Track Field Changes</label>
        <locationX>314</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>TrackTarget</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add Target Value</defaultConnectorLabel>
        <rules>
            <name>AddAllModifiedValues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.GsGoalTitle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varGoalTitlePreviousValue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalRecord.GsTargetDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTargetDatePreviousValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsLogAllPreviousValues</targetReference>
            </connector>
            <label>Add All Modified Values</label>
        </rules>
        <rules>
            <name>AddGoalTitleValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGoalRecord.GsGoalTitle__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varGoalTitlePreviousValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrackGoalTitle</targetReference>
            </connector>
            <label>Add Goal Title Value</label>
        </rules>
    </decisions>
    <description>Flow Runs in System Context with Sharing</description>
    <dynamicChoiceSets>
        <name>ApprovedByPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsApprovedBy__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>These are all periods a goal can be added to.</description>
        <name>GoalPeriodChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>EditPeriodStart__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EditPeriodEnd__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Start__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_End__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <object>GsGoalPeriod__c</object>
        <outputAssignments>
            <assignToReference>varGoalRecord.GsGoalPeriod__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GoalRecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goal__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varGoalRecord.RecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>DeveloperName</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsStatus__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TargetMonthChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsTargetMonth__c</picklistField>
        <picklistObject>GsGoal__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Format Created date to dd.mm.yyyy</description>
        <name>FormatCreatedDate</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY (DATEVALUE({!varGoalRecord.CreatedDate}))),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;LPAD(TEXT(MONTH  (DATEVALUE({!varGoalRecord.CreatedDate}))),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;TEXT(YEAR(DATEVALUE({!varGoalRecord.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>GetMonthNumber</name>
        <dataType>Number</dataType>
        <expression>CASE({!TargetMonthCustomPicklist},
&quot;January&quot;,1,&quot;February&quot;,2,&quot;March&quot;,3,&quot;April&quot;,4,&quot;May&quot;,5,&quot;June&quot;,6,&quot;July&quot;,7,&quot;August&quot;,8,&quot;September&quot;,9,&quot;October&quot;,10,&quot;November&quot;,11,&quot;December&quot;,12,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Set the target month based on the selected target date</description>
        <name>GsSetTargetMonth</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH({!GsTargetDate}), 1, &quot;January&quot;, 2, &quot;February&quot;, 3, &quot;March&quot;, 4, &quot;April&quot;, 5, &quot;May&quot;, 6, &quot;June&quot;, 7, &quot;July&quot;, 8, &quot;August&quot;, 9, &quot;September&quot;, 10, &quot;October&quot;, 11, &quot;November&quot;, 12, &quot;December&quot;, &quot;Invalid Date&quot;)</expression>
    </formulas>
    <formulas>
        <name>IsChangeLogEmpty</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!varGoalRecord.GsHistory__c})</expression>
    </formulas>
    <formulas>
        <name>IsEditPhaseClosed</name>
        <dataType>Boolean</dataType>
        <expression>{!varGoalRecord.GsGoalPeriod__r.EditPeriodEnd__c} &lt;= {!$Flow.CurrentDate}</expression>
    </formulas>
    <formulas>
        <name>IsValidPercentValue</name>
        <dataType>Boolean</dataType>
        <expression>AND({!SpecifyYourGoalValue}&gt;=0,{!SpecifyYourGoalValue}&lt;=100)</expression>
    </formulas>
    <formulas>
        <name>LogPreviousGoalTitle</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;LPAD(TEXT(MONTH  (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;TEXT(YEAR(TODAY())) &amp; &quot; - &quot; &amp; LEFT(RIGHT(TEXT(NOW()),9),8)  &amp; &quot; - &quot; &amp;{!$User.Email}&amp;&quot; - Changed title - previous value: &quot;&amp; {!varGoalTitlePreviousValue}</expression>
    </formulas>
    <formulas>
        <name>LogPreviousTarget</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;LPAD(TEXT(MONTH  (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;TEXT(YEAR(TODAY())) &amp; &quot; - &quot; &amp; LEFT(RIGHT(TEXT(NOW()),9),8) &amp; &quot; - &quot;&amp;{!$User.Email}&amp;&quot; - Changed target - previous value: &quot;&amp; {!varTargetPreviousValue}</expression>
    </formulas>
    <formulas>
        <name>LogReviseComment</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;LPAD(TEXT(MONTH  (TODAY())),2,&quot;0&quot;)&amp;&quot;.&quot;&amp;TEXT(YEAR(TODAY())) &amp; &quot; - &quot; &amp; LEFT(RIGHT(TEXT(NOW()),9),8)  &amp; &quot; - &quot; &amp;{!$User.Email}&amp;&quot; - Revise Comment: &quot;&amp; {!ReviseCommentText}</expression>
    </formulas>
    <formulas>
        <name>ProgramSampleValue</name>
        <dataType>String</dataType>
        <expression>&quot;BAY&quot;&amp;SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ProjectSampleValue</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;))+2345)</expression>
    </formulas>
    <formulas>
        <name>SetTargetDate</name>
        <dataType>Date</dataType>
        <expression>DATE(VALUE({!varGoalRecord.GsGoalPeriod__r.Name}),{!GetMonthNumber},1)</expression>
    </formulas>
    <formulas>
        <name>StudySampleValue</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE(SUBSTITUTE(LEFT(RIGHT(TEXT(NOW()), 9),8), &quot;:&quot;, &quot;&quot;))+6758)</expression>
    </formulas>
    <formulas>
        <name>SubstituteGoalPercentValue</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TEXT({!varGoalRecord.GsStandardGoal__c}), &quot;[value]&quot;, TEXT({!SpecifyYourGoalValue}))</expression>
    </formulas>
    <formulas>
        <name>ValuesHaveBeenModified</name>
        <dataType>Boolean</dataType>
        <expression>NOT(AND({!varGoalRecord.GsGoalTitle__c}={!varGoalTitlePreviousValue},{!varGoalRecord.GsTargetDate__c}={!varTargetDatePreviousValue}))</expression>
    </formulas>
    <interviewLabel>GoalSetter: Revised Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Revise Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Check if another goal already exists with the same values after the edit.</description>
        <name>GsCheckForExistingGoal</name>
        <label>Check For Existing Goal</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GsCheckIfGoalExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GsGoalTitle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsGoalPeriod__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsGoalPeriod__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsStudyNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsStudyNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsProgram__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsProgram__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>GsProject__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.GsProject__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varGoalRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectedRecord</name>
        <label>SelectedRecord</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSelectedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateGoalRecord</name>
        <label>Update Goal Record</label>
        <locationX>314</locationX>
        <locationY>2606</locationY>
        <inputReference>varGoalRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>EditGoalRecord</name>
        <label>Edit Goal Record</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateGoalVariable</targetReference>
        </connector>
        <fields>
            <name>NewFormHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!varGoalRecord.RecordType.Name} for &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;{!varGoalRecord.GsGoalPeriod__r.Name} period&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>editGoalInfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Program &lt;/strong&gt;{!varGoalRecord.GsProgram__c}, &lt;strong&gt;Project &lt;/strong&gt;{!varGoalRecord.GsProject__c}, &lt;strong&gt;Study&lt;/strong&gt; {!varGoalRecord.GsStudyNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditGoalRecord_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EditGoalRecord_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScreenEditStandardGoalPicklist</name>
                    <extensionName>c:picklistValuesByRecordType</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objApiName</name>
                        <value>
                            <stringValue>GsGoal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>GsStandardGoal__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recTypeId</name>
                        <value>
                            <elementReference>varGoalRecord.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldLabel</name>
                        <value>
                            <stringValue>Standard Goal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varGoalRecord.GsStandardGoal__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GsGoalTitle</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
                    </defaultValue>
                    <fieldText>Goal Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenEditStandardGoalPicklist.selectedValue</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>-- enter goal manually --</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SpecifyYourGoalValue</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsGoalValue__c</elementReference>
                    </defaultValue>
                    <fieldText>Specify your goal value (0-100)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The value must be between 0 and 100&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!IsValidPercentValue}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ScreenEditStandardGoalPicklist.selectedValue</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>[value]</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>TargetMonthCustomPicklist</name>
                    <choiceReferences>TargetMonthChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsTargetMonth__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Month</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarStudyTeamGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarClinicalTeamRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarCroRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>GsTargetDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varGoalRecord.GsTargetDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarLabCorpGoalRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varGoalRecord.RecordTypeId</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>GsVarParexelRecordTypeId</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ApprovedByPicklist</name>
                    <choiceReferences>ApprovedByPicklistChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ApprovedByPicklist</elementReference>
                    </defaultValue>
                    <fieldText>Approved By</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReviseCommentText</name>
                    <dataType>String</dataType>
                    <fieldText>Revise Comment</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EditGoalRecord_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to be shown if a goal with same key attributes already exists</description>
        <name>GsGoalDoesAlreadyExist</name>
        <label>Goal Does Already Exist</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EditGoalRecord</targetReference>
        </connector>
        <fields>
            <name>alreadyExistsMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;A goal with the same title already exists for the selected program, project and study in this period.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectedRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks the rights to edit in IMPACT</description>
        <name>CheckEditingRights</name>
        <label>Check Editing Rights</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>DecisionIsUserAllowedEdit</targetReference>
        </connector>
        <flowName>GoalSetterCheckUserEditingRights</flowName>
        <inputAssignments>
            <name>RecordToCheck</name>
            <value>
                <elementReference>varGoalRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>GsLoadRecordTypeIds</name>
        <label>Load RecordType Ids</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>StorePreviousValues</targetReference>
        </connector>
        <flowName>GsGoalSetterInitRecordTypeGoals</flowName>
        <outputAssignments>
            <assignToReference>GsVarClinicalTeamRecordTypeId</assignToReference>
            <name>GsVarClinicalTeamGoalRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarCountryRecruitmentGoalRecordTypeId</assignToReference>
            <name>GsVarCountryRecruitmentGoalRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarCovanceGoalRecordTypeId</assignToReference>
            <name>GsVarCovanceGoalRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarCroRecordTypeId</assignToReference>
            <name>GsVarCroRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarLabCorpGoalRecordTypeId</assignToReference>
            <name>GsVarLabCorpRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarParexelRecordTypeId</assignToReference>
            <name>GsVarParexelRecordTypeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>GsVarStudyTeamGoalRecordTypeId</assignToReference>
            <name>GsVarStudyTeamGoalRecordTypeId</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>TemplateLogAllPreviousValues</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varGoalRecord.GsHistory__c}
{!LogPreviousGoalTitle}
{!LogPreviousTarget}
{!LogReviseComment}</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateLogGoalTitle</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varGoalRecord.GsHistory__c}
{!LogPreviousGoalTitle}
{!LogReviseComment}</text>
    </textTemplates>
    <textTemplates>
        <name>TemplateLogTargetValue</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!varGoalRecord.GsHistory__c}
{!LogPreviousTarget}
{!LogReviseComment}</text>
    </textTemplates>
    <variables>
        <name>GsVarClinicalTeamRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarCountryRecruitmentGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarCovanceGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarCroRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarLabCorpGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarParexelRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GsVarStudyTeamGoalRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flow to create a new Goal record</description>
        <name>varGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
    <variables>
        <name>varGoalTitlePreviousValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>varGoalRecord.GsGoalTitle__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varTargetDatePreviousValue</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The previous value of the formatted target date</description>
        <name>varTargetPreviousValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
