force-app/main/default/flows/GoalSetter_Delete_Goal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>SetSelectedRecord</name>
        <label>Set Selected Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Deletion</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionIsUserAllowedDelete</name>
        <label>Is user allowed to delete?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>DeleteStatusScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is not allowed</defaultConnectorLabel>
        <rules>
            <name>UserAllowed</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>CheckEditingRights.AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalRecord.CreatedBy.Alias</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Alias</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGoalRecord.GsFinal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.GsGoalSetterAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Goal</targetReference>
            </connector>
            <label>User is allowed</label>
        </rules>
    </decisions>
    <description>Changed Delete button label</description>
    <environments>Default</environments>
    <interviewLabel>GoalSetter Delete Goal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter Delete Goal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Goal</name>
        <label>Delete Goal</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Deletion_successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGoalRecord.Id</elementReference>
            </value>
        </filters>
        <object>GsGoal__c</object>
    </recordDeletes>
    <recordLookups>
        <name>SelectedRecord</name>
        <label>SelectedRecord</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetSelectedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirm_Deletion</name>
        <label>Confirm Deletion</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>CheckEditingRights</targetReference>
        </connector>
        <fields>
            <name>goalDeletionPromptTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Delete Goal&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>confirmText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Are you sure you want to delete the selected goal?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoalDeletionDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Goal&lt;/strong&gt;: {!varGoalRecord.GsGoalTitle__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Period: &lt;/strong&gt;{!varGoalRecord.GsGoalPeriod__r.Name}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Program: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!varGoalRecord.GsProgram__c}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Porject: &lt;/strong&gt;{!varGoalRecord.GsProject__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Study: &lt;/strong&gt;{!varGoalRecord.GsStudyNumber__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Delete Goal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DeleteStatusScreen</name>
        <label>DeleteStatusScreen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>deleteStatus</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Deletion failed&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;One of the following reasons may apply:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;You are no longer Responsible person for the goal&lt;/li&gt;&lt;li&gt;You are not the creator of the goal&lt;/li&gt;&lt;li&gt;The goal is already marked as final&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deletion_successful</name>
        <label>Deletion successful</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeletionSuccessful</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Deletion successful.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectedRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks the rights to edit in IMPACT</description>
        <name>CheckEditingRights</name>
        <label>Check Editing Rights</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>DecisionIsUserAllowedDelete</targetReference>
        </connector>
        <flowName>GoalSetterCheckUserEditingRights</flowName>
        <inputAssignments>
            <name>RecordToCheck</name>
            <value>
                <elementReference>varGoalRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flow to create a new Goal record</description>
        <name>varGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
</Flow>
