force-app/main/default/flows/GoalSetterMarkAsFinal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign the loaded goal to a variable</description>
        <name>GsSetSelectedRecord</name>
        <label>Set Selected Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSelectRecrod</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsCheckEditingRights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateRecordFields</name>
        <label>Update Record Fields</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsFinal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varGoalRecord.GsFinalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConfirmation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GsIsUserAllowedToEdit</name>
        <label>Is user allowed to edit?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>User is not allowed</defaultConnectorLabel>
        <rules>
            <name>GsUserIsAllowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GsCheckEditingRights.AllowedToEdit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateRecordFields</targetReference>
            </connector>
            <label>User is allowed</label>
        </rules>
    </decisions>
    <description>This flow marks a goal as final by setting the final flag to true and saving the current date. It&apos;s running in System Context with Sharing so that users and admins can edit goals with having permission to edit goals.

Latest Change: Removed duplicate assignment of recrodId</description>
    <environments>Default</environments>
    <interviewLabel>GoalSetter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter: Mark as Final</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Load the record for the passed Id</description>
        <name>GsSelectRecrod</name>
        <label>SelectRecrod</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GsSetSelectedRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GsGoal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateGoalRecord</name>
        <label>Update Goal Record</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <inputReference>varGoalRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>UpdateConfirmation</name>
        <label>Update Confirmation</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateGoalRecord</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Mark this goal as &apos;Final&apos; and lock it for later changes. Are you sure?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Mark as &apos;Final&apos;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GsSelectRecrod</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks the rights to edit IMPACT</description>
        <name>GsCheckEditingRights</name>
        <label>Check Editing Rights</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>GsIsUserAllowedToEdit</targetReference>
        </connector>
        <flowName>GoalSetterCheckUserEditingRights</flowName>
        <inputAssignments>
            <name>RecordToCheck</name>
            <value>
                <elementReference>varGoalRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGoalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsGoal__c</objectType>
    </variables>
</Flow>
