force-app/main/default/flows/GsSendFeedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>GsSaveSpecificValuesForAccessRequest</name>
        <label>Save Specific Values For Access Request</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSetDescriptionForAccessRequest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GsVarQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsConstAccessRequestQueueName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSetSubjectForAccessRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsGetQueue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GsSaveValues</name>
        <label>Save Values</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsSubject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GsDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GsVarFeedback.GsStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GsFeedbackOrAccessRequest</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>GsFeedbackOrAccessRequest</name>
        <label>Feedback or Access Request</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GsGetQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Feedback</defaultConnectorLabel>
        <rules>
            <name>GsAccessRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GsType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GsConstAccessRequestDevName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GsSaveSpecificValuesForAccessRequest</targetReference>
            </connector>
            <label>Access Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GsFeedbackTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GsType__c</picklistField>
        <picklistObject>GsFeedback__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>GsGetSystemName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_100}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_100}))</expression>
    </formulas>
    <formulas>
        <name>GsSetDescriptionForAccessRequest</name>
        <dataType>String</dataType>
        <expression>{!GsTmpAccessRequestDescription}</expression>
    </formulas>
    <formulas>
        <name>GsSetSubjectForAccessRequest</name>
        <dataType>String</dataType>
        <expression>&quot;Create User &quot; + {!GsCwid}</expression>
    </formulas>
    <interviewLabel>GoalSetter Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GoalSetter Send Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>GsCreateCase</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>GsResultScreen</targetReference>
        </connector>
        <inputReference>GsVarFeedback</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GsGetQueue</name>
        <label>Get Queue</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GsCreateCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GsVarQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>GsVarFeedback.OwnerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>GsResultScreen</name>
        <label>Result Screen</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;The feedback/request has been submitted.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>GsSubmitRequest</name>
        <label>Submit Request</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GsSaveValues</targetReference>
        </connector>
        <fields>
            <name>GsType</name>
            <choiceReferences>GsFeedbackTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GsSubmitRequest_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GsSubmitRequest_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GsSubject</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>GsType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GsConstAccessRequestDevName</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>GsType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GsSubmitRequest_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>GsSubmitRequest_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GsFirstName</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GsLastName</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>GsSubmitRequest_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GsCwid</name>
                    <dataType>String</dataType>
                    <fieldText>CWID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GsEmail</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>GsType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>GsConstAccessRequestDevName</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GsDescriptionHint</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 10px; color: rgb(18, 110, 195);&quot;&gt;Add any details that might help responding to your case (e.g. how to reproduce the issue, what goal is affected, which access right level is requested (standard/admin)),&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GsDescription</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GsSubmitRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>GsTmpAccessRequestDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Firstname: {!GsFirstName}
Lastname: {!GsLastName}
CWID: {!GsCwid}
Email: {!GsEmail}
Federation ID: {!GsCwid}
System: {!GsGetSystemName}
Additional input: {!GsDescription}</text>
    </textTemplates>
    <variables>
        <name>GsConstAccessRequestDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Access Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>GsConstAccessRequestQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GsUserRequests</stringValue>
        </value>
    </variables>
    <variables>
        <name>GsConstFeedbackQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>GsFeedback</stringValue>
        </value>
    </variables>
    <variables>
        <name>GsVarFeedback</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GsFeedback__c</objectType>
    </variables>
    <variables>
        <name>GsVarQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GsConstFeedbackQueueName</elementReference>
        </value>
    </variables>
</Flow>
