force-app/main/default/flows/Hirep_on_Create_Update_After_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Create_or_Update_Hirep_Share_with_Deputy_Manager</name>
        <label>Create or Update Hirep Share with Deputy Manager</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Create_or_Update_Hirep_Share_With_Resource_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Share_with_Deputy_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HIREP_Share_with_DM</targetReference>
            </connector>
            <label>Create New Share with Deputy Manager</label>
        </rules>
        <rules>
            <name>Update_Share_with_Deputy_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Deputy_Manager_Admin__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Deputy_Manager_Admin__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Share_from_Existing_Deputy_Manager</targetReference>
            </connector>
            <label>Update Share with Deputy Manager</label>
        </rules>
        <rules>
            <name>Remove_Share_with_Prior_Deputy_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deputy_Manager_Admin__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Share_from_Existing_DeputyManager</targetReference>
            </connector>
            <label>Remove Share with Prior Deputy Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_Hirep_Share_With_Resource_Manager</name>
        <label>Create or Update Hirep Share With Resource Manager</label>
        <locationX>446</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Share_with_Resource_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HIREP_Share_with_RM</targetReference>
            </connector>
            <label>Create Share with Resource Manager</label>
        </rules>
        <rules>
            <name>Update_Share_with_Resource_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Resource_Manager_R_Line__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Resource_Manager_R_Line__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Share_from_Existing_Resource_Manager</targetReference>
            </connector>
            <label>Update Share with Resource Manager</label>
        </rules>
        <rules>
            <name>Remove_Share_from_Resource_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Share_from_Existing_ResourceManager</targetReference>
            </connector>
            <label>Remove Share from Resource Manager</label>
        </rules>
    </decisions>
    <description>Provide an Hirep record access to respective Resource Manager/Deputy Manager.
Access gets revoked from previous manager.</description>
    <environments>Default</environments>
    <interviewLabel>Hirep on Create/Update After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hirep on Create/Update After Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_HIREP_Share_with_DM</name>
        <label>Create HIREP Share with DM</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_or_Update_Hirep_Share_With_Resource_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Deputy_Manager__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Deputy_Manager_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hirep__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_HIREP_Share_with_RM</name>
        <label>Create HIREP Share with RM</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Resource_Manager__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Resource_Manager_R_Line__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hirep__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_with_new_Deputy_Manager</name>
        <label>Create Share with new Deputy Manager</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_or_Update_Hirep_Share_With_Resource_Manager</targetReference>
        </connector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Deputy_Manager__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Deputy_Manager_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hirep__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_with_new_Resource_Manager</name>
        <label>Create Share with new Resource Manager</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>Resource_Manager__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Resource_Manager_R_Line__c</elementReference>
            </value>
        </inputAssignments>
        <object>Hirep__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Share_from_Existing_Deputy_Manager</name>
        <label>Delete Share from Existing Deputy Manager</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Share_with_new_Deputy_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Deputy_Manager_Admin__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deputy_Manager__c</stringValue>
            </value>
        </filters>
        <object>Hirep__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Share_from_Existing_DeputyManager</name>
        <label>Delete Share from Existing DeputyManager</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_or_Update_Hirep_Share_With_Resource_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Deputy_Manager_Admin__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deputy_Manager__c</stringValue>
            </value>
        </filters>
        <object>Hirep__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Share_from_Existing_Resource_Manager</name>
        <label>Delete Share from Existing Resource Manager</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Create_Share_with_new_Resource_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Resource_Manager_R_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource_Manager__c</stringValue>
            </value>
        </filters>
        <object>Hirep__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Share_from_Existing_ResourceManager</name>
        <label>Delete Share from Existing ResourceManager</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Resource_Manager_R_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource_Manager__c</stringValue>
            </value>
        </filters>
        <object>Hirep__Share</object>
    </recordDeletes>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Update_Hirep_Share_with_Deputy_Manager</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Resource_Manager_R_Line__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Deputy_Manager_Admin__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Hirep__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
