force-app/main/default/flows/Hirep_on_Create_Update_Before_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Final_Approval_date_as_MGMT_Approval_Date</name>
        <label>Set Final Approval date as MGMT Approval Date</label>
        <locationX>446</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Final_Approval_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Hirep_Process_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Approval_Status_as_MGMT_Approval_Status</name>
        <label>Set Final Approval Status as MGMT Approval Status</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.MGMT_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Final_Approval_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Final_Approval_date_as_MGMT_Approval_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Approval_to_Pending</name>
        <label>Set Final Approval to Pending</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Final_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_MGMT_Approval_Status_and_Approval_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Hirep_Process_Status_to_Final_Approval_Request</name>
        <label>Set Hirep Process Status to Final Approval Request</label>
        <locationX>314</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hirep_Process_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Final Approval Request</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_HIREP_Process_status_to_Pre_approval_Request</name>
        <label>Set HIREP Process status to Pre-approval Request</label>
        <locationX>578</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hirep_Process_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pre-approval Request</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_HIREP_Process_to_Completed</name>
        <label>Set HIREP Process to Completed</label>
        <locationX>50</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hirep_Process_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HIREP Request Completed</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Name_MAPV_Dept_Commences</name>
        <label>Set Name, MAPV Dept, Commences</label>
        <locationX>446</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Append_First_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MAPV_Department_Formula__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MAPV_Department__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Commences__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Commences_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Pre_approval_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pre_Approval_date_as_MGMT_Approval_Date</name>
        <label>Set Pre Approval date as MGMT Approval Date</label>
        <locationX>182</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pre_approval_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Hirep_Process_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Pre_Approval_Status_as_MGMT_Approval_Status</name>
        <label>Set Pre Approval Status as MGMT Approval Status</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.MGMT_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pre_approval_Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Pre_Approval_date_as_MGMT_Approval_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Pre_approval_Status</name>
        <label>Update Final Approval Status</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_MGMT_Approval_Status_and_Approval_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pre_approval_Status_is_Pre_Approval_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-approval Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Pre_approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pre-approval Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_Approval_to_Pending</targetReference>
            </connector>
            <label>Update Pre Approval Status as Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Hirep_Process_Status</name>
        <label>Update Hirep Process Status?</label>
        <locationX>446</locationX>
        <locationY>1211</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Hirep_Process_Status_to_Hirep_Request_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointee_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Appointee_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CWID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HIREP_Process_to_Completed</targetReference>
            </connector>
            <label>Update Hirep Process Status to Hirep Request Completed</label>
        </rules>
        <rules>
            <name>Update_Hirep_Process_Status_to_Final_Approval_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Hirep_Process_Status_to_Final_Approval_Request</targetReference>
            </connector>
            <label>Update Hirep Process Status to Final Approval Request</label>
        </rules>
        <rules>
            <name>Update_Hirep_Process_Status_to_Pre_Approval_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hirep_Process_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_HIREP_Process_status_to_Pre_approval_Request</targetReference>
            </connector>
            <label>Update Hirep Process Status to Pre Approval Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_MGMT_Approval_Status_and_Approval_Date</name>
        <label>Update MGMT Approval Status and Approval Date?</label>
        <locationX>446</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Update_Hirep_Process_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_MGMT_Approval_Status_and_Date_as_Pre_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Pre_Approval_Status_as_MGMT_Approval_Status</targetReference>
            </connector>
            <label>Update MGMT Approval Status and Date as Pre Approval</label>
        </rules>
        <rules>
            <name>Update_MGMT_Approval_Status_and_Date_as_Final_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Final_Approval_Status_as_MGMT_Approval_Status</targetReference>
            </connector>
            <label>Update MGMT Approval Status and Date as Final Approval</label>
        </rules>
    </decisions>
    <description>This flow is used to set the Hirep process status and MGMT Approval, Approval Date status accordingly to Pre Approval and Final Approval related fields</description>
    <environments>Default</environments>
    <formulas>
        <name>Append_First_Last_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Appointee_First_Name__c}+&apos; &apos;+{!$Record.Appointee_Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Hirep on Create/Update Before Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hirep on Create/Update Before Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Entry_Records</name>
        <label>Get User Entry Records</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Name_MAPV_Dept_Commences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CWID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CWID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Appointee_Bayer_E_mail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Entry_Records</targetReference>
        </connector>
        <object>Hirep__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
