force-app/main/default/flows/Populate_Approvers_in_Donation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Are_Approvers_Changed</name>
        <label>Are Approvers Changed?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Donations.BU_Head__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configurations.BU_Head__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Donations.CSE_Country_Lead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configurations.CSE_Country_Lead__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Donations.Business_Partner_Compliance__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configurations.Business_Partner_Compliance__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Donations.Head_PH_Med__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configurations.Head_PH_Med__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Donations.SBR_Bayer_Vital__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Approval_Configurations.Business_Partner_Compliance__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Donation</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>Populate Approvers in Donation from related Approval Configuration.</description>
    <environments>Default</environments>
    <interviewLabel>Donation on {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Approvers in Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Configurations</name>
        <label>Get Approval Configurations</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Are_Approvers_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donations.Business_Unit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Business_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approval_Configuration__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donations</name>
        <label>Get Donations</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approval_Configurations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donation</name>
        <label>Update Donation</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BU_Head__c</field>
            <value>
                <elementReference>Get_Approval_Configurations.BU_Head__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Partner_Compliance__c</field>
            <value>
                <elementReference>Get_Approval_Configurations.Business_Partner_Compliance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSE_Country_Lead__c</field>
            <value>
                <elementReference>Get_Approval_Configurations.CSE_Country_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Head_PH_Med__c</field>
            <value>
                <elementReference>Get_Approval_Configurations.Head_PH_Med__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBR_Bayer_Vital__c</field>
            <value>
                <elementReference>Get_Approval_Configurations.SBR_Bayer_Vital__c</elementReference>
            </value>
        </inputAssignments>
        <object>Donation__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Donations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
