force-app/main/default/flows/Update_Job_Role_Unique_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Append_Add_on_to_Name</name>
        <label>Append Add-on to Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unique_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Name_For_Add_on</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Name_For_Add_on</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Unique_and_Job_role_Update</name>
        <label>Remove Add-on from Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Unique_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Name_For_Main</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Name_For_Main</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checking whether it is and Main or Add-on Job Role</description>
        <name>Main_or_Add_on</name>
        <label>Main or Add-on?</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_On_Main</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Role_Add_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Main</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unique_and_Job_role_Update</targetReference>
            </connector>
            <label>Check On Main</label>
        </rules>
        <rules>
            <name>Check_Add_on</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Main_Role_Add_on__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Add_on_to_Name</targetReference>
            </connector>
            <label>Check Add on</label>
        </rules>
    </decisions>
    <description>Update Job Role Name depending upon selection in Main/Add-On. (Append (Add-on in case of Add-on type))
Update the Unique Name field same as Job Role Name. (To have unique Job Role)</description>
    <environments>Default</environments>
    <formulas>
        <name>Check_Name_For_Add_on</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS({!$Record.Name}, &apos;(Add-on)&apos;),{!$Record.Name},{!$Record.Name}+&apos; &apos;+&apos;(Add-on)&apos;)</expression>
    </formulas>
    <formulas>
        <name>Check_Name_For_Main</name>
        <dataType>String</dataType>
        <expression>if(CONTAINS({!$Record.Name}, &apos;(Add-on)&apos;), SUBSTITUTE({!$Record.Name}, &apos;(Add-on)&apos;, &apos; &apos;),{!$Record.Name})</expression>
    </formulas>
    <interviewLabel>Update Job Role Unique Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Job Role Unique Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Main_or_Add_on</targetReference>
        </connector>
        <object>Job_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
