force-app/main/default/flows/User_MyLearning_Program_History_on_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Status_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_History_Record_on_Create</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Updated</name>
        <label>Status Updated?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Record_History_Record_on_Update</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <formulas>
        <name>NewStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Status__c}) = &apos;Assign&apos;, &apos;To be Assigned&apos;,
IF(TEXT({!$Record.Status__c}) = &apos;Remove&apos;, &apos;To be Removed&apos;, TEXT({!$Record.Status__c})))</expression>
    </formulas>
    <formulas>
        <name>OldStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record__Prior.Status__c}) = &apos;Assign&apos;, &apos;To be Assigned&apos;,
IF(TEXT({!$Record__Prior.Status__c}) = &apos;Remove&apos;, &apos;To be Removed&apos;, TEXT({!$Record__Prior.Status__c})))</expression>
    </formulas>
    <interviewLabel>User MyLearning Program History on Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User MyLearning Program History on Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_History_Record_on_Create</name>
        <label>Create Record History Record on Create</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Related Record Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object__c</field>
            <value>
                <stringValue>MyLearning Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Name__c</field>
            <value>
                <elementReference>$Record.MyLearning_Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Entry__c</field>
            <value>
                <elementReference>$Record.User_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Record_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Record_History_Record_on_Update</name>
        <label>Create Record History Record on Update</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Related Record Field Updated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Field__c</field>
            <value>
                <stringValue>Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Value__c</field>
            <value>
                <elementReference>NewStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Value__c</field>
            <value>
                <elementReference>OldStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object__c</field>
            <value>
                <stringValue>MyLearning Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Name__c</field>
            <value>
                <elementReference>$Record.MyLearning_Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Entry__c</field>
            <value>
                <elementReference>$Record.User_Entry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Record_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <object>User_MyLearning_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
