force-app/main/default/flows/User_Entry_on_Hirep_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Confirmation</name>
        <label>Check Confirmation</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_continue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Entry_Records</targetReference>
            </connector>
            <label>Confirmed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_User_Entry</name>
        <label>Create User Entry?</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Entry_Already_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Entry_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_User_Entry_Exist_Message</targetReference>
            </connector>
            <label>User Entry Already Exist</label>
        </rules>
        <rules>
            <name>Mandatory_Fields_Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordId.CWID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Appointee_First_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Appointee_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Appointee_Bayer_E_mail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.MAPV_Department__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.MAPV_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Uma_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Primary_Job_Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Grant_access_to_UMA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Resource_Manager_R_Line__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Time_Tracking_Required__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Cost_Centre__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordId.Staff_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Mandatory_Fields_Missing_Message</targetReference>
            </connector>
            <label>Mandatory Fields Missing</label>
        </rules>
        <rules>
            <name>Create_New_User_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Entry_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_User_Entry_Record</targetReference>
            </connector>
            <label>Create New User Entry</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Hirep_Process_Status_to_Onboarding</name>
        <label>Update Hirep Process Status to Onboarding?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_still_like_to_move_it_to_Onboarding_Would_you_still_like_to_move_it_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hirep_Process_Status</targetReference>
            </connector>
            <label>Proceed</label>
        </rules>
    </decisions>
    <description>Create an User Entry record from Hirep process. Upon creating User Entry, update the Hirep Process status to Onboarding Completed.
V2-replaced Account lookup field by Uma_Company__c picklist.</description>
    <environments>Default</environments>
    <formulas>
        <name>Error_Handling_Message</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Flow.FaultMessage}, &apos;This error occurred when the flow tried to create records: FIELD_CUSTOM_VALIDATION_EXCEPTION:&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>User Entry on Hirep Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Entry on Hirep Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_User_Entry_Record</name>
        <label>Create User Entry Record</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Hirep_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CWID__c</field>
            <value>
                <elementReference>RecordId.CWID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Center__c</field>
            <value>
                <elementReference>RecordId.Cost_Centre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deputy_Manager__c</field>
            <value>
                <elementReference>RecordId.Deputy_Manager_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>RecordId.Appointee_Bayer_E_mail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>RecordId.Appointee_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Grant_access_to_UMA__c</field>
            <value>
                <elementReference>RecordId.Grant_access_to_UMA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>RecordId.Appointee_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Locations__c</field>
            <value>
                <elementReference>RecordId.Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAPV_Department__c</field>
            <value>
                <elementReference>RecordId.MAPV_Department__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MAPV_Group__c</field>
            <value>
                <elementReference>RecordId.MAPV_Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Job_Role__c</field>
            <value>
                <elementReference>RecordId.Primary_Job_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Resource_Manager__c</field>
            <value>
                <elementReference>RecordId.Resource_Manager_R_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff_Status__c</field>
            <value>
                <elementReference>RecordId.Staff_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Tracking_Required__c</field>
            <value>
                <elementReference>RecordId.Time_Tracking_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uma_Company__c</field>
            <value>
                <elementReference>RecordId.Uma_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Hours__c</field>
            <value>
                <elementReference>RecordId.Working_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>User_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Entry_Records</name>
        <label>Get User Entry Records</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_User_Entry</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CWID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.CWID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Appointee_Bayer_E_mail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Hirep_Process_Status</name>
        <label>Update Hirep Process Status</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <targetReference>Display_Fail_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hirep_Process_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Hirep__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>On successful User Entry creation update Hirep Process Status to Onboarding Completed.</description>
        <name>Update_Hirep_Record</name>
        <label>Update Hirep Record</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Display_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Update_Fail_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Hirep_Process_Status__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Hirep__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Continue_Confirmation_Screen</name>
        <label>Continue Confirmation Screen</label>
        <locationX>1634</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Confirmation</targetReference>
        </connector>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Create profile in UMA - Appointee has been selected. Please complete relevant fields and transfer information to UMA.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_want_to_continue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to continue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Error_Message</name>
        <label>Display Error Message</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Error_Handling_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Fail_Error_Message</name>
        <label>Display  Fail Error Message</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_DisplayUpdateErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Mandatory_Fields_Missing_Message</name>
        <label>Display Mandatory Fields Missing Message</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 12px;&quot;&gt;One or more mandatory fields for UMA profile creation is/are in blank or has/have invalid data. Please review.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplaySuccessMsg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(34, 234, 61);&quot;&gt;User Entry has been created successfully. Please click on Finish button below to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Update_Fail_Error_Message</name>
        <label>Display Update Fail Error Message</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayUpdateErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_User_Entry_Exist_Message</name>
        <label>Display User Entry Exist Message</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Hirep_Process_Status_to_Onboarding</targetReference>
        </connector>
        <fields>
            <name>Display_Unsuccessful_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 32, 32);&quot;&gt;User Entry profile already exists for given HIREP entry details. Please manually update the User Entry profile&amp;nbsp;in UMA, if required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Would_you_still_like_to_move_it_to_Onboarding_Would_you_still_like_to_move_it_to</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you still like to move it to &apos;Onboarding&apos;?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Continue_Confirmation_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Hirep__c</objectType>
    </variables>
</Flow>
